-- CreateEnum
CREATE TYPE "AiAgentDomain" AS ENUM ('FRONT_DESK', 'LEAD_OPS', 'COMMUNICATIONS', 'SCHEDULING', 'CRM_PIPELINE', 'TASK_FOLLOW_UP', 'KNOWLEDGE', 'MANAGER_ANALYTICS', 'DISPATCH_OPS');

-- CreateEnum
CREATE TYPE "AiRunStatus" AS ENUM ('QUEUED', 'RUNNING', 'COMPLETED', 'FAILED', 'BLOCKED_APPROVAL');

-- CreateEnum
CREATE TYPE "AiActionStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'EXECUTED', 'FAILED');

-- CreateEnum
CREATE TYPE "ApprovalStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "ApprovalPolicy" AS ENUM ('ALWAYS', 'ROLE_BASED', 'RISK_BASED', 'NONE');

-- CreateEnum
CREATE TYPE "TaskStatus" AS ENUM ('OPEN', 'IN_PROGRESS', 'BLOCKED', 'DONE', 'CANCELED');

-- CreateEnum
CREATE TYPE "TaskPriority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "TaskSource" AS ENUM ('MANUAL', 'AI_AGENT', 'CALL', 'MESSAGE', 'LEAD', 'APPOINTMENT');

-- AlterTable
ALTER TABLE "AuditLog" ADD COLUMN     "agentRunId" TEXT,
ADD COLUMN     "approvalRequestId" TEXT,
ADD COLUMN     "entityId" TEXT,
ADD COLUMN     "entityType" TEXT,
ADD COLUMN     "toolKey" TEXT;

-- CreateTable
CREATE TABLE "AgentDefinition" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "domain" "AiAgentDomain" NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "allowedToolsJson" JSONB NOT NULL DEFAULT '[]',
    "allowedEntitiesJson" JSONB NOT NULL DEFAULT '[]',
    "approvalPolicy" "ApprovalPolicy" NOT NULL DEFAULT 'ALWAYS',
    "modelProvider" TEXT NOT NULL DEFAULT 'openai',
    "modelName" TEXT,
    "promptKey" TEXT NOT NULL,
    "visibilityRulesJson" JSONB NOT NULL DEFAULT '{}',
    "priority" INTEGER NOT NULL DEFAULT 100,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AgentDefinition_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkspaceAiSetting" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT false,
    "allowClientStaffApprovals" BOOLEAN NOT NULL DEFAULT false,
    "defaultApprovalPolicy" "ApprovalPolicy" NOT NULL DEFAULT 'ALWAYS',
    "allowlistRolesJson" JSONB NOT NULL DEFAULT '[]',
    "copilotEnabled" BOOLEAN NOT NULL DEFAULT false,
    "managerInsightsEnabled" BOOLEAN NOT NULL DEFAULT false,
    "updatedByUserId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WorkspaceAiSetting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkspaceAgentSetting" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "agentDefinitionId" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "allowedToolsJson" JSONB NOT NULL DEFAULT '[]',
    "approvalPolicyOverride" "ApprovalPolicy",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WorkspaceAgentSetting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AgentRun" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "agentDefinitionId" TEXT NOT NULL,
    "initiatedByUserId" TEXT,
    "status" "AiRunStatus" NOT NULL DEFAULT 'QUEUED',
    "routeReason" TEXT NOT NULL,
    "inputSummary" TEXT,
    "outputSummary" TEXT,
    "confidence" DOUBLE PRECISION,
    "errorCode" TEXT,
    "errorSummary" TEXT,
    "entityType" TEXT,
    "entityId" TEXT,
    "idempotencyKey" TEXT,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AgentRun_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AgentActionLog" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "agentRunId" TEXT NOT NULL,
    "agentDefinitionId" TEXT NOT NULL,
    "actionType" TEXT NOT NULL,
    "toolKey" TEXT,
    "status" "AiActionStatus" NOT NULL DEFAULT 'PENDING',
    "inputSummary" TEXT,
    "outputSummary" TEXT,
    "confidence" DOUBLE PRECISION,
    "approvalRequired" BOOLEAN NOT NULL DEFAULT false,
    "approvalStatus" "ApprovalStatus",
    "approvalRequestId" TEXT,
    "entityType" TEXT,
    "entityId" TEXT,
    "errorCode" TEXT,
    "errorSummary" TEXT,
    "metadataJson" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AgentActionLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApprovalRequest" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "agentRunId" TEXT,
    "requestedByUserId" TEXT,
    "actionType" TEXT NOT NULL,
    "toolKey" TEXT NOT NULL,
    "entityType" TEXT,
    "entityId" TEXT,
    "status" "ApprovalStatus" NOT NULL DEFAULT 'PENDING',
    "reason" TEXT,
    "inputSummary" TEXT,
    "outputSummary" TEXT,
    "expiresAt" TIMESTAMP(3),
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ApprovalRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApprovalAction" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "approvalRequestId" TEXT NOT NULL,
    "actorUserId" TEXT,
    "action" "ApprovalStatus" NOT NULL,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ApprovalAction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkspaceKnowledgeEntry" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "tagsJson" JSONB NOT NULL DEFAULT '[]',
    "source" TEXT NOT NULL DEFAULT 'manual',
    "createdByUserId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WorkspaceKnowledgeEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EntityNote" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "entityType" TEXT NOT NULL,
    "entityId" TEXT NOT NULL,
    "noteType" TEXT NOT NULL DEFAULT 'general',
    "body" TEXT NOT NULL,
    "createdByUserId" TEXT,
    "createdByAgentRunId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EntityNote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ThreadClassification" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "threadId" TEXT NOT NULL,
    "classification" TEXT NOT NULL,
    "confidence" DOUBLE PRECISION,
    "rationale" TEXT,
    "createdByAgentRunId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ThreadClassification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CallAiSummary" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "callLogId" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "extractedJson" JSONB,
    "confidence" DOUBLE PRECISION,
    "createdByAgentRunId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CallAiSummary_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MessageAiSummary" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "threadId" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "classification" TEXT,
    "confidence" DOUBLE PRECISION,
    "createdByAgentRunId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MessageAiSummary_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Task" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "status" "TaskStatus" NOT NULL DEFAULT 'OPEN',
    "priority" "TaskPriority" NOT NULL DEFAULT 'MEDIUM',
    "source" "TaskSource" NOT NULL DEFAULT 'MANUAL',
    "entityType" TEXT,
    "entityId" TEXT,
    "assignedToUserId" TEXT,
    "createdByUserId" TEXT,
    "createdByAgentRunId" TEXT,
    "dueAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Task_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TaskReminder" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "taskId" TEXT NOT NULL,
    "remindAt" TIMESTAMP(3) NOT NULL,
    "sentAt" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TaskReminder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FollowUpQueueItem" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "taskId" TEXT,
    "entityType" TEXT,
    "entityId" TEXT,
    "reason" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "suggestedAt" TIMESTAMP(3),
    "resolvedAt" TIMESTAMP(3),
    "createdByAgentRunId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FollowUpQueueItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PipelineRecord" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "leadId" TEXT,
    "stage" TEXT NOT NULL,
    "confidence" DOUBLE PRECISION,
    "summary" TEXT,
    "isStale" BOOLEAN NOT NULL DEFAULT false,
    "staleReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PipelineRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PipelineActivityLog" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "pipelineRecordId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "detail" TEXT,
    "createdByUserId" TEXT,
    "createdByAgentRunId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PipelineActivityLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "AgentDefinition_key_key" ON "AgentDefinition"("key");

-- CreateIndex
CREATE UNIQUE INDEX "WorkspaceAiSetting_orgId_key" ON "WorkspaceAiSetting"("orgId");

-- CreateIndex
CREATE INDEX "WorkspaceAgentSetting_orgId_enabled_idx" ON "WorkspaceAgentSetting"("orgId", "enabled");

-- CreateIndex
CREATE UNIQUE INDEX "WorkspaceAgentSetting_orgId_agentDefinitionId_key" ON "WorkspaceAgentSetting"("orgId", "agentDefinitionId");

-- CreateIndex
CREATE UNIQUE INDEX "AgentRun_idempotencyKey_key" ON "AgentRun"("idempotencyKey");

-- CreateIndex
CREATE INDEX "AgentRun_orgId_createdAt_idx" ON "AgentRun"("orgId", "createdAt");

-- CreateIndex
CREATE INDEX "AgentRun_orgId_status_createdAt_idx" ON "AgentRun"("orgId", "status", "createdAt");

-- CreateIndex
CREATE INDEX "AgentRun_orgId_entityType_entityId_createdAt_idx" ON "AgentRun"("orgId", "entityType", "entityId", "createdAt");

-- CreateIndex
CREATE INDEX "AgentActionLog_orgId_createdAt_idx" ON "AgentActionLog"("orgId", "createdAt");

-- CreateIndex
CREATE INDEX "AgentActionLog_orgId_status_createdAt_idx" ON "AgentActionLog"("orgId", "status", "createdAt");

-- CreateIndex
CREATE INDEX "AgentActionLog_approvalRequestId_idx" ON "AgentActionLog"("approvalRequestId");

-- CreateIndex
CREATE INDEX "ApprovalRequest_orgId_status_createdAt_idx" ON "ApprovalRequest"("orgId", "status", "createdAt");

-- CreateIndex
CREATE INDEX "ApprovalRequest_orgId_entityType_entityId_createdAt_idx" ON "ApprovalRequest"("orgId", "entityType", "entityId", "createdAt");

-- CreateIndex
CREATE INDEX "ApprovalAction_orgId_approvalRequestId_createdAt_idx" ON "ApprovalAction"("orgId", "approvalRequestId", "createdAt");

-- CreateIndex
CREATE INDEX "WorkspaceKnowledgeEntry_orgId_createdAt_idx" ON "WorkspaceKnowledgeEntry"("orgId", "createdAt");

-- CreateIndex
CREATE INDEX "EntityNote_orgId_entityType_entityId_createdAt_idx" ON "EntityNote"("orgId", "entityType", "entityId", "createdAt");

-- CreateIndex
CREATE INDEX "ThreadClassification_orgId_threadId_createdAt_idx" ON "ThreadClassification"("orgId", "threadId", "createdAt");

-- CreateIndex
CREATE INDEX "CallAiSummary_orgId_callLogId_createdAt_idx" ON "CallAiSummary"("orgId", "callLogId", "createdAt");

-- CreateIndex
CREATE INDEX "MessageAiSummary_orgId_threadId_createdAt_idx" ON "MessageAiSummary"("orgId", "threadId", "createdAt");

-- CreateIndex
CREATE INDEX "Task_orgId_status_createdAt_idx" ON "Task"("orgId", "status", "createdAt");

-- CreateIndex
CREATE INDEX "Task_orgId_assignedToUserId_status_dueAt_idx" ON "Task"("orgId", "assignedToUserId", "status", "dueAt");

-- CreateIndex
CREATE INDEX "Task_orgId_entityType_entityId_createdAt_idx" ON "Task"("orgId", "entityType", "entityId", "createdAt");

-- CreateIndex
CREATE INDEX "TaskReminder_orgId_remindAt_status_idx" ON "TaskReminder"("orgId", "remindAt", "status");

-- CreateIndex
CREATE INDEX "FollowUpQueueItem_orgId_status_createdAt_idx" ON "FollowUpQueueItem"("orgId", "status", "createdAt");

-- CreateIndex
CREATE INDEX "PipelineRecord_orgId_stage_createdAt_idx" ON "PipelineRecord"("orgId", "stage", "createdAt");

-- CreateIndex
CREATE INDEX "PipelineRecord_orgId_isStale_updatedAt_idx" ON "PipelineRecord"("orgId", "isStale", "updatedAt");

-- CreateIndex
CREATE INDEX "PipelineActivityLog_orgId_pipelineRecordId_createdAt_idx" ON "PipelineActivityLog"("orgId", "pipelineRecordId", "createdAt");

-- CreateIndex
CREATE INDEX "AuditLog_orgId_createdAt_idx" ON "AuditLog"("orgId", "createdAt");

-- CreateIndex
CREATE INDEX "AuditLog_agentRunId_idx" ON "AuditLog"("agentRunId");

-- CreateIndex
CREATE INDEX "AuditLog_approvalRequestId_idx" ON "AuditLog"("approvalRequestId");

-- AddForeignKey
ALTER TABLE "WorkspaceAiSetting" ADD CONSTRAINT "WorkspaceAiSetting_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkspaceAgentSetting" ADD CONSTRAINT "WorkspaceAgentSetting_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkspaceAgentSetting" ADD CONSTRAINT "WorkspaceAgentSetting_agentDefinitionId_fkey" FOREIGN KEY ("agentDefinitionId") REFERENCES "AgentDefinition"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentRun" ADD CONSTRAINT "AgentRun_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentRun" ADD CONSTRAINT "AgentRun_agentDefinitionId_fkey" FOREIGN KEY ("agentDefinitionId") REFERENCES "AgentDefinition"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentRun" ADD CONSTRAINT "AgentRun_initiatedByUserId_fkey" FOREIGN KEY ("initiatedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentActionLog" ADD CONSTRAINT "AgentActionLog_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentActionLog" ADD CONSTRAINT "AgentActionLog_agentRunId_fkey" FOREIGN KEY ("agentRunId") REFERENCES "AgentRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentActionLog" ADD CONSTRAINT "AgentActionLog_agentDefinitionId_fkey" FOREIGN KEY ("agentDefinitionId") REFERENCES "AgentDefinition"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalRequest" ADD CONSTRAINT "ApprovalRequest_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalRequest" ADD CONSTRAINT "ApprovalRequest_agentRunId_fkey" FOREIGN KEY ("agentRunId") REFERENCES "AgentRun"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalRequest" ADD CONSTRAINT "ApprovalRequest_requestedByUserId_fkey" FOREIGN KEY ("requestedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalAction" ADD CONSTRAINT "ApprovalAction_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalAction" ADD CONSTRAINT "ApprovalAction_approvalRequestId_fkey" FOREIGN KEY ("approvalRequestId") REFERENCES "ApprovalRequest"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApprovalAction" ADD CONSTRAINT "ApprovalAction_actorUserId_fkey" FOREIGN KEY ("actorUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkspaceKnowledgeEntry" ADD CONSTRAINT "WorkspaceKnowledgeEntry_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EntityNote" ADD CONSTRAINT "EntityNote_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ThreadClassification" ADD CONSTRAINT "ThreadClassification_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ThreadClassification" ADD CONSTRAINT "ThreadClassification_threadId_fkey" FOREIGN KEY ("threadId") REFERENCES "MessageThread"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CallAiSummary" ADD CONSTRAINT "CallAiSummary_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CallAiSummary" ADD CONSTRAINT "CallAiSummary_callLogId_fkey" FOREIGN KEY ("callLogId") REFERENCES "CallLog"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MessageAiSummary" ADD CONSTRAINT "MessageAiSummary_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MessageAiSummary" ADD CONSTRAINT "MessageAiSummary_threadId_fkey" FOREIGN KEY ("threadId") REFERENCES "MessageThread"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_assignedToUserId_fkey" FOREIGN KEY ("assignedToUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskReminder" ADD CONSTRAINT "TaskReminder_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskReminder" ADD CONSTRAINT "TaskReminder_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES "Task"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FollowUpQueueItem" ADD CONSTRAINT "FollowUpQueueItem_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FollowUpQueueItem" ADD CONSTRAINT "FollowUpQueueItem_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES "Task"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PipelineRecord" ADD CONSTRAINT "PipelineRecord_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PipelineRecord" ADD CONSTRAINT "PipelineRecord_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PipelineActivityLog" ADD CONSTRAINT "PipelineActivityLog_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PipelineActivityLog" ADD CONSTRAINT "PipelineActivityLog_pipelineRecordId_fkey" FOREIGN KEY ("pipelineRecordId") REFERENCES "PipelineRecord"("id") ON DELETE CASCADE ON UPDATE CASCADE;

